---
layout: home
pagination:
  enabled: true
  per_page: 2
---

<h1>Jordan Vidrine</h1>
<p><span>Web Development Portfolio</span></p>
<section id="bio">
  <span id='blogging-mobile'><a href="{{"/blog/index.html" | relative_url}}">Take a look at my Daily Coding Journal</a></span>
    <p>
      An experienced business owner + musician with a demonstrated history of management in the
      Energy sector and an insatiable appetite for learning new and complex skills. Transitioning
      from an ownership role & seeking employment in Web Development as a Jr Full Stack Developer. <br/> <br/>
      <span id='blog'><a href="{{"/blog/index.html" | relative_url}}">Take a look at my Daily Coding Journal</a></span>
      </p>
  <img src="/assets/img/profile_new.jpg">
</section>
<hr id="separator">
<h2 id="example-header">- Latest Projects -</h2>
<div id="projects">
  <section class="project">
    <section class="info">
    <h3>GIPHY Search</h3>
    <p>This is my latest app I created using React and the GIPHY API. I created it as a techincal assessment with multiple requirements. This was super fun for me to work on, and although I've used React for other projects, I felt like this one utilized many important aspects of React that make it a framework worth using.
    </p><p><a href="https://jbv-giphy.herokuapp.com">Live Site</a>&nbsp;&nbsp;-
      &nbsp;<a href="https://github.com/jordanvidrine/Giphy-App">View Code</a></p>
    </section>
    <section class="preview">
      <img src="/assets/img/Giphy.gif" alt="Giphy App Preview" width="255" height="186">
    </section>
  </section>
  <section class="project">
    <section class="info">
    <h3>InGen: A Static Site Generator</h3>
    <p>At the suggestion of a friend and mentor, I created this app to generate a static site from markdown files and handlebars template files. This project had me dive deep with the NodeJs file system module and I enjoyed working and manipulating user files on the system. This app is now functioning but is still a WIP.<i>(Yes the name is based on Jurassic Park)</i>
    </p><p><a href="https://github.com/jordanvidrine/InGen">View Code</a>&nbsp;&nbsp;-
      &nbsp;<a href="https://jordanvidrine.com/2019/08/August-27th-28th.html">Process Blog Entries</a></p>
    </section>
    <section class="preview">
      <img src="/assets/img/ingen.jpg" alt="Ingen App Preview" width="255" height="186">
    </section>
  </section>
  <section class="project">
    <section class="info">
    <h3>YNAB SMS Texting App</h3>
    <p>I created this project to test the capabilities of integrating Twilio with my YNAB account. I want to create the ability to send a text message to a number and receive YNAB budget data back. This was my first back-end only project and I loved it.
    </p><p><a href="https://github.com/jordanvidrine/ynab">View Code</a>&nbsp;&nbsp;-
      &nbsp;<a href="http://jordanvidrine.com/2019/07/July-26th-&-29th-2019.html">Process Blog Entries</a></p>
    </section>
    <section class="preview">
      <img src="/assets/img/ynab.jpg" alt="YNAB App Preview" width="255" height="186">
    </section>
  </section>
  <section class="project">
    <section class="info">
    <h3>Stock Charting App</h3>
    <p>
      I am a noob when it comes to investing, trusting the sage of advice of Warren Buffet to put 90% into an S&P 500 etf and 10% into bonds. That being said, the data for stocks is super interesting to me so I wanted to create something utilizing an API.
    <p><a href="http://jbv-stock-app.herokuapp.com/">Live Site</a>
    </section>
    <section class="preview">
      <img src="/assets/img/stock.jpg" alt="Stock App Preview" width="255" height="186">
    </section>
  </section>
  <section class="project">
    <section class="info">
    <h3>Drum Machine React App</h3>
    <p>
      This was something I wanted to create as a challenge for myself right as I began to learn how to code.
      Unfortunately I had no idea where to begin. After 3 months of learning, this wasnt
      difficult it helped me to see the progress I have made since starting this journey.
    </p>
    <p><a href="http://jordanvidrine.com/drumMachine/index.html">Live Site</a>&nbsp;&nbsp;-
      &nbsp;<a href="https://github.com/jordanvidrine/jordanvidrine.github.io/tree/master/drumMachine">View Code</a></p>
    </section>
    <section class="preview">
      <img src="/assets/img/drum-Machine.jpg" alt="Drum Machine React App Preview" width="255" height="186">
    </section>
  </section>
  <section class="project">
    <section class="info">
    <h3>Pomodoro React App</h3>
    <p>
      I created this app as an exercise to create a Pomodoro Method timer with Javascript and React.
      The user can set how long his/her breaks and work sessions should be. As the sessions are completed,
      a series of “Pomodoros” are filled in, showing the user how close they are to the finish of their work
      session.
    </p>
    <p><a href="http://jordanvidrine.com/pomodoro/index.html">Live Site</a>&nbsp;&nbsp;-
      &nbsp;<a href="https://github.com/jordanvidrine/jordanvidrine.github.io/tree/master/pomodoro">View Code</a></p>
    </section>
    <section class="preview">
      <img src="/assets/img/pomodoro-react-app.png" alt="Pomodoro React App Preview" width="255" height="186">
    </section>
  </section>
  <section class="project">
    <section class="info">
    <h3>Nested Todolist App</h3>
    <p>
      I created this app as an exercise in the Watch and Code Premium course. The goal was to create
      a Todo List app that could also create nested todos.
    <p><a href="http://jordanvidrine.com/nested-todos/index.html">Live Site</a>&nbsp;&nbsp;-
      &nbsp;<a href="https://github.com/jordanvidrine/jordanvidrine.github.io/tree/master/nested-todos">View Code</a></p>
    </section>
    <section class="preview">
      <img src="/assets/img/nested-todos.jpg" alt="Nested Todo List App Preview" width="255" height="186">
    </section>
  </section>
  <section class="project">
    <section class="info">
    <h3>Calculator React App</h3>
    <p>
      I created this calculator as an exercise in the FreeCodeCamp frameworks projects.
    </p>
    <p><a href="http://jordanvidrine.com/calculator/index.html">Live Site</a>&nbsp;&nbsp;-
      &nbsp;<a href="https://github.com/jordanvidrine/jordanvidrine.github.io/tree/master/calculator">View Code</a></p>
    </section>
    <section class="preview">
      <img src="/assets/img/calculator.jpg" alt="Calculator React App Preview" width="255" height="186">
    </section>
  </section>
  <hr id="separator">
  <h2 id="example-header">- Design Examples -</h2>
  <section class="project web-design">
    <section class="preview">
      <img src="/assets/img/levillage.jpg" alt="LeVillage House" width="255" height="186">
    </section>
    <section class="info">
    <h3>LeVillage House</h3>
    <p>
      I redesigned this client's website to better cater to their market. Using HTML + CSS, I made use of image galleries, google maps integrations,
      and custom forms. We integrated google sheets and email for a reservation system allowed the client to save money
      by not using a pay per month reservation system.
    </p>
    <p><a href="http://levillagehouse.com/">Live Site</a></p>
    </section>
  </section>

  <section class="project web-design">
    <section class="preview">
      <img src="/assets/img/hannah-Gumbo.jpg" alt="Hannah Gumbo" width="255" height="186">
    </section>
    <section class="info">
    <h3>Hannah Gumbo</h3>
    <p>
      Using squarespace and a base design as well as custom graphics, photos, and javascript, I created this website for visual
      artist and Illustrator, Hannah Gumbo.
    </p>
    <p><a href="http://hannahgumbo.com/">Live Site</a></p>
    </section>
  </section>

  <section class="project web-design">
    <section class="preview">
      <img src="/assets/img/sirius.jpg" alt="Sirius USA" width="255" height="186">
    </section>
    <section class="info">
    <h3>Sirius Technologies</h3>
    <p>
      Using Wordpress and a basic theme, I redesigned the Sirius Technologies website. Using custom HTML and CSS, I
      styled the site according to the company design specifications as well as used photoshop and adobe Illustrator
      to create custom graphics and art for the project.
    </p>
    <p><a href="http://www.siriususa.com/">Live Site</a></p>
    </section>
  </section>

</div>
<section id="posts">
  <h2 id="journal-title"> - Latest Journal Entries -</h2>
  <ul>
    {% for post in paginator.posts %}
    <li>
      <h3>{{post.title}}</h3>
      <p>{{post.excerpt}}</p>
      {% if post.content contains '<!--more-->'%}
      <a href="{{post.url}}">Read More...</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% include footer.html %}
<script src="{{"/assets/js/index.js" | relative_url}}"></script>
