<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{"/assets/css/blog-styles.css" | relative_url}}">
    <link href="https://fonts.googleapis.com/css?family=Cabin:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
  </head>
  </head>
  <body>
    <div id='title-nav'>
      <h1>Coding Journal</h1>
      {% include navigation.html %}
      <div id='bio'>
              <img src="/assets/img/profile_new.jpg">
        <h3>Jordan Vidrine</h3>
        <p>
          An experienced business owner + musician with a demonstrated history of management in the
          Energy sector and an insatiable appetite for learning new and complex skills. Transitioning
          from an ownership role & seeking employment in Web Development as a Jr Full Stack Developer.
        </p>
      </div>
    </div>
    {{ content }}
  </body>
</html>
